:root{
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
    --height-containers: 46vh;
}

*{
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

.row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden{
    visibility: hidden;
}

body{
    background: var(--Light-Grayish-Blue);
    height: 100vh;
    font-size: 13px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    bottom: 15px;
}
.attribution a { 
    color: hsl(228, 36%, 46%); 
}

.manrope-font{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.container{
    height: var(--height-containers);
    width: 60vw;
    border-radius: 12px;
    background: white;
    display: flex;
    flex-direction: row;
}

.img-container{
    height: var(--height-containers);
    width: 20vw;
    border-radius: 12px 0 0 12px;
}

/*.img-container img{
    height: var(--height-containers);
    width: 20vw;
    border-radius: 12px 0 0 12px;
}*/

.content{
    padding: 5vh;
}

.title{
    color: var(--Very-Dark-Grayish-Blue);
    font-weight: 700;
    margin-top: -11px;
    padding-bottom: 12px;
}

.text{
    color: var(--Desaturated-Dark-Blue);
    padding-bottom: 16px;
}

.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
	gap: 2vh;
    position: relative;
}

.img-profile-menu{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
}

.img-profile{
    margin-top: 0;
}

.username{
    font-weight: 700;
    margin-top: 7px;
}

.date{
    position: absolute;
    top: 24px;
    left: 64px;
    color: var(--Grayish-Blue);
}

.icon-share{
    border: 1px solid var(--Light-Grayish-Blue);
    background: var(--Light-Grayish-Blue);
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 8px;
}

.popup{
    border: 1px solid var(--Very-Dark-Grayish-Blue);
    background: var(--Very-Dark-Grayish-Blue);
    position: absolute;
}

.peak-popup{
    height: 25px;
    width: 25px;
    transform: rotate(45deg);
    right: 4px;
    bottom: 5vw;
}

.share{
    right: -7vw;
    height: 7vh;
    width: 16vw;
    bottom: 72px;
    border-radius: 8px;
}

.share div{
    width: 100%;
    height: 100%;
    gap: 17px;
}

.share p{
    color: var(--Grayish-Blue);
}


@media (max-width: 640px){
    body{
        font-size: 10px;
    }

    .container{
        height: 77vh;
        width: 84vw;
        flex-direction: column;
    }

    .content{
        padding: 8vh 5vh 5vh 5vh;
    }

    .title{
        padding-bottom: 17px;
    }

    .img-container{
        width: 100%;
        height: 25vh;
        border-radius: 12px 12px 0 0;
        object-fit: cover;
    }

    .text{
        font-size: 14px;
    }

    .footer{
        height: 8vh;
        top: 10px;
    }

    .img-profile-menu{
        width: 13vw;
        height: 13vw;
    }

    .username{
        font-size: 13px;
        margin-top: 10px;
    }

    .date{
        top: 27px;
        font-size: 13px;
    }

    .peak-popup{
        bottom: 3vw;
    }

    .share{
        width: 82vw;
        height: 9vh;
        right: -33px;
        bottom: -3px;
        border-radius: 0 0 12px 12px;
    }

    .share div{
        width: 70%;
        justify-content: space-evenly;
    }

    .share p{
        font-size: 13px;
    }

    .attribution{
        font-size: 13px;
    }
}